<div class="background-image-container">
  <div class="row"> 
    <div class="col-md-offset-4 col-md-4">
      <h3 class="text-center text-white">店舗編集</h3>
      <%= render "form"%>
      <p><%= link_to "店舗クチコミ画面に戻る", shop_path(@shop) %></p>
    </div>  
  </div>
</div>