<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center bg-danger">
       店舗詳細
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= image_tag @shop.image.url, class:"img-responsive center-block"%>
    </div>  
  </div>
</div>  