<div class="background-image-container">
  <div class="row"> 
    <div class="col-md-offset-4 col-md-4 users-new-container">
      <h3 class="text-center text-white">新規登録</h3>
        <%= render "form"%>
      <%= link_to "登録済みの方はこちらからログイン画面へ！", login_path, class: "text-white" %>
    </div>  
  </div>
</div>