<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <img src ="/IMG_2167.jpg" class:"imge">
    </div> 
  </div>   
  <div class="row">
    <div class="col-lg-12">
      <h2> Bon appetit!!(召し上がれ!!)は飲食店の口コミ共有型検索サービスです。</h2>
    </div>
  </div>  
  <div class="row">
    <div class="col-lg-4">
      <h3>リアルなクチコミ</h3>
      <p>多くのクチコミを<br>来店前にチェック！<br>もう行ってから<br>後悔する事がなくなります!</p>
    </div>
    <div class="col-lg-4">
      <h3>絞り込み検索可能</h3>
      <p>店舗名はもとより<br>「価格」「ジャンル」<br>「クチコミ」等々、様々なフィルターで検索が可能！</p>
    </div>
    <div class="col-lg-4">
      <h3>優良店舗のみ</h3>
      <p>当サイトは登録ユーザーの方の投稿のみ掲載！<br>投稿店舗は一定の基準をクリアしております！</p>
    </div>
  </div>
</div>  